.bannerBox {
  width: 100%;
  position: relative;
  min-width: 1200px;
}
.bannerBox .banner {
  height: 400px;
}
.bannerBox .swiper-slide {
  width: 100%;
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
}
.bannerBox .swiper-pagination {
  bottom: 20px !important;
}
.bannerBox .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: #ffffff solid 1px;
  opacity: 1;
  box-sizing: border-box;
  background-color: transparent !important;
}
.bannerBox .swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.box01 .title {
  height: 45px;
  box-sizing: border-box;
  border-bottom: #c0281b solid 2px;
  position: relative;
  margin-top: 30px;
}
.box01 .title .le {
  line-height: 45px;
  position: absolute;
  left: 0;
  top: 0;
  width: 155px;
  height: 45px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  background: url(../images/activity/img01.png) no-repeat center center;
}
.box01 .title .ri {
  height: 45px;
  line-height: 45px;
  color: #333333;
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 0;
}

.box02 {
  overflow: hidden;
  clear: both;
  margin-top: 20px;
  height: 380px;
}
.box02 .le {
  float: left;
  width: 290px;
  height: 380px;
  overflow: hidden;
  position: relative;
}
.box02 .le img {
  width: 290px;
  height: auto;
}
.box02 .ri {
  float: right;
  width: 896px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box02 .ri .dosBox {
  margin-bottom: 11px;
  width: 290px;
  height: 185px;
  overflow: hidden;
  position: relative;
}
.box02 .ri .dosBox img {
  width: 290px;
  height: auto;
}
.box02 .dos {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  transition: top 0.3s ease-out;
}
.box02 .dos .title {
  color: #ffffff;
  display: block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 15px;
  box-sizing: border-box;
}
.box02 .dos .name {
  color: #ffffff;
  display: block;
  padding: 0 15px;
  text-align: justify;
  overflow: hidden;
}
.box02 .le .dos {
  height: 380px;
  top: 340px;
}
.box02 .dos:hover {
  top: 0 !important;
}
.box02 .le .dos .name {
  height: 318px;
}
.box02 .dosBox .dos {
  height: 185px;
  top: 145px;
}
.box02 .dosBox .dos .name {
  height: 138px;
}
.box03 {
  margin-top: 30px;
}
.box03 .title {
  height: 44px;
  background-color: #c0281b;
  line-height: 44px;
}
.box03 .title span {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  border-left: #ffd600 solid 3px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  margin-left: 15px;
  padding-left: 10px;
}
.box03Main {
  display: flex;
  justify-content: space-between;
}
.box03Main .box03le {
  width: 872px;
}
.box04 {
  display: flex;
  background-color: #f3f3f3;
  padding: 20px 30px;
  justify-content: space-between;
}
.box03Main .box03ri {
  width: 310px;
}
.box05 {
  width: 100%;
  height: 350px;
}
.box06 .title {
  height: 44px;
  background-color: #c0281b;
  line-height: 44px;
}
.box06 .title span {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  border-left: #ffd600 solid 3px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  margin-left: 15px;
}
.box06 .formBox {
  background-color: #f3f3f3;
  padding: 10px 20px 30px 20px;
  margin-top: 20px;
}
.box06 .listBox {
  width: 100%;
  margin-top: 20px;
}
.box06 .listBox th {
  background-color: #f3f3f3;
  font-weight: 700;
}
.box06 .listBox td {
  border-bottom: #f3f3f3 solid 1px;
}
.box06 .listBox th,
.box06 .listBox td {
  height: 44px;
  line-height: 44px;
  padding: 0 10px;
}
.box07 {
  width: 100%;
  margin-top: 30px;
}
.box07 img {
  width: 100%;
}
.box08 {
  background-color: #f3f3f3;
  padding: 20px 40px 30px 40px;
  margin-top: 30px;
}
.box08 li {
  display: flex;
  line-height: 40px;
  height: 40px;
}
.box08 li span:nth-child(1) {
  width: 60px;
  text-align: right;
  padding: 0 !important;
  margin-right: 10px;
}
.box08 li span {
  padding: 0 30px 0 0;
}
.box08 li .focu {
  color: #c0281b;
}
.box08 .item {
  display: flex;
  margin-right: 30px;
  margin-top: 5px;
}
.box08 .item .text {
  display: block;
  color: #666666;
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
}
.box08 .item .name {
  width: 160px;
  background-color: #ffffff;
  border: #d9d8d8 solid 1px;
  height: 28px;
  line-height: 28px;
  color: #666666;
  box-sizing: border-box;
  padding: 0 15px 0 10px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.box08 .item .up {
  position: relative;
}
.box08 .item:hover .sub {
  display: block;
}
.box08 .item .sub {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 28px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
}
.box08 .item .sub li {
  color: #666666;
  line-height: 28px;
  height: 28px;
  padding: 0 10px 0 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.box08 .item .sub li:hover {
  background-color: #ffd1cd;
  color: #c0281b;
}
.box08 .item .name::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 8px;
  width: 16px;
  height: 8px;
  background: url(../images/exhibition/icon01.png) no-repeat center center;
  background-size: 14px auto;
}
.box09 .item {
  display: flex;
  padding: 30px 0;
  border-bottom: #dbdbdb solid 1px;
}
.box09 .item:hover {
  background-color: #f3f3f3;
}
.box09 .item .img {
  width: 300px;
}
.box09 .item .img img {
  width: 300px;
}
.box09 .item .textBox {
  width: 410px;
  padding-left: 30px;
}
.box09 .item .textBox p:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
}
.box09 .item .textBox p:nth-child(2) {
  font-size: 14px;
  color: #999999;
  padding: 20px 0 10px 0;
}
.box09 .item .textBox p:nth-child(2) span {
  background: url(../images/business/icon01.jpg) left center no-repeat;
  padding-left: 22px;
  margin-right: 10px;
}
.box09 .item .textBox p:nth-child(3) {
  font-size: 14px;
  color: #999999;
}
.box09 .item .btn {
  flex: 1;
}
.box09 .item .btn button {
  width: 120px;
  height: 40px;
  line-height: 40px;
  background-color: #c0281b;
  text-align: center;
  color: #ffffff;
  border: #c0281b solid 1px;
  border-radius: 20px;
  font-size: 16px;
  margin-top: 50px;
  box-shadow: #ffd600 2px 3px 0 0;
}
.box10 {
  background-color: #f3f3f3;
  padding: 40px 60px;
}
.box10 .t {
  display: flex;
}
.box10 .t .img {
  width: 626px;
  height: 320px;
  margin-right: 15px;
}
.box10 .t .img img {
  width: 626px;
  height: auto;
}
.box10 .t .text {
  flex: 1;
  margin-left: 20px;
}
.box10 .t .text p {
  padding: 10px 0;
}
.box10 .t .text .t1 {
  font-size: 20px;
  font-weight: 700;
}
.box10 .t .text .t2 {
  margin-bottom: 20px;
}
.box10 .t .text .t2 span {
  font-size: 15px;
  color: #ffffff;
  background-color: #c0281b;
  padding: 5px 10px;
}
.box10 .t .text .t3,
.box10 .t .text .t4 {
  color: #666666;
  font-size: 12px;
}
.box10 .t .text .t4 {
  background: url(../images/business/icon02.jpg) left center no-repeat;
  padding-left: 26px !important;
  line-height: 22px;
}
.box10 .b {
  height: 182px;
  overflow: hidden;
  width: 100%;
  margin-top: 40px;
}
.box10 .b .swiper-slide {
  height: 182px;
}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background-color: #c0281b;
}
.swiper-pagination-bullet {
  opacity: 0.4;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}

.box11 {
  margin-top: 30px;
}
.box11 .title {
  height: 44px;
  background-color: #c0281b;
  line-height: 44px;
}
.box11 .title span {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  border-left: #ffd600 solid 3px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  margin-left: 15px;
  padding-left: 10px;
}
.box11 {
  background-color: #f3f3f3;
  padding: 20px 30px;
}
.box11 .text {
  display: flex;
}
.box11 .text .img {
  width: 399px;
  margin-right: 20px;
}
.box11 .text .img img {
  width: 399px;
}
.box11 .text .r {
  flex: 1;
  padding-top: 20px;
}
.box11 .text p {
  overflow: hidden;
}
.box11 .text p span {
  font-weight: 700;
  margin-right: 20px;
  display: block;
  float: left;
  margin-bottom: 20px;
}
.box11 .text p em {
  font-weight: 100;
  margin-left: 8px;
}
.box11 .sdo {
  text-align: justify;
  line-height: 150%;
  margin-top: 20px;
}
.box12 {
  display: flex;
  justify-content: space-between;
}
.box12 .img {
  width: 640px;
  height: 522px;
  margin-right: 30px;
}
.box12 .img img {
  width: 640px;
  height: auto;
}
.box12 .text {
  flex: 1;
}
.box12 .title,
.box14 .title {
  height: 44px;
  background-color: #c0281b;
  line-height: 44px;
}
.box12 .title span,
.box14 .title span {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  border-left: #ffd600 solid 3px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  margin-left: 15px;
  padding-left: 10px;
}
.box12 .text .name {
  text-align: justify;
  line-height: 160%;
  margin-top: 20px;
  height: 460px;
  overflow: hidden;
}
.box13 {
  background-color: #f3f3f3;
  padding: 30px 20px 0 20px;
  margin-top: 30px;
}
.box13 li {
  display: flex;
  padding-bottom: 30px;
}
.box13 li p {
  color: #333333;
  margin-right: 100px;
}
.box13 li span {
  color: #666666;
}
.box14 {
  margin-top: 30px;
}
.box14 .sod {
  overflow: hidden;
  margin-top: 20px;
}
.box14 .sod li {
  float: left;
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 15px;
  margin-bottom: 15px;
}
.box14 .sod li:nth-child(5n) {
  margin-right: 0;
}
