/***********通用基本类1************/

/*格式化样式*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  color: #333333;
  padding: 0;
  font-size: 14px;
  font-family: Arial, Verdana, Tahoma, "微软雅黑", Helvetica, sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
  margin: 0;
  padding: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
i,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

input,
button,
textarea {
  background: none;
  outline: none;
  border: 1px solid #ccc;
  box-shadow: none;
}
/* input:focus {
  border: none;
} */
/*css定义超链接四个状态也有顺序的。*/

a:link,
a:visited {
  text-decoration: none;
  color: #c0281b;
}
a:hover,
a:active {
  border: none;
  text-decoration: underline;
}

/*===============================================*/
/*======万能Float闭合======*/
.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.main {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}
.textflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mart20 {
  margin-top: 20px !important;
}
.marb20 {
  margin-bottom: 20px !important;
}
.mart0 {
  margin-top: 0px !important;
}
.w100 {
    width: 100% !important;
}
.w275 {
    width: 275px !important;
}
.palr30 {
    padding: 0 30px !important;
}
/* 自定义字体 */
@font-face {
  font-family: "4fontHzgb";
  src: url("../font/fontHzgb.ttf") format("truetype");
}
