.bannerBox {
  width: 100%;
  position: relative;
  min-width: 1200px;
}
.bannerBox .banner {
  height: 400px;
}
.bannerBox .swiper-slide {
  width: 100%;
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
}
.bannerBox .swiper-pagination {
  bottom: 20px !important;
}
.bannerBox .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: #ffffff solid 1px;
  opacity: 1;
  box-sizing: border-box;
  background-color: transparent !important;
}
.bannerBox .swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}
.box01 {
  overflow: hidden;
}
.box01 .box01le {
  width: 1052px;
  float: left;
}
.box01 .box01ri {
  float: right;
  width: 134px;
  height: 376px;
}
.box02 {
  overflow: hidden;
  width: 1052px;
}
.box02 .gallery-top {
  float: right;
  width: 900px;
  height: 376px;
}
.box02 .gallery-top .swiper-slide {
  width: 900px;
  height: 376px;
  background-size: 900px 376px;
  background-position: center center;
  background-repeat: no-repeat;
}
.box02 .gallery-thumbs {
  float: left;
}
.box02 .gallery-thumbs {
  width: 138px;
  height: 376px;
}
.box02 .gallery-thumbs .swiper-slide {
  width: 138px;
  height: 88px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 138px 88px;
}

.box03 {
  overflow: hidden;
  margin-top: 30px;
}
.box03 .box03le {
  width: 987px;
  float: left;
}
.box03 .box03ri {
  float: right;
  width: 182px;
}
.box03Tab {
  position: relative;
  display: flex;
  border-bottom: #c0281b solid 1px;
}
.box03Tab li {
  width: 100px;
}
.box03Tab li a {
  display: block;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #333333;
  text-decoration: none;
}
.box03Tab .focu {
  background-color: #c0281b;
}
.box03Tab .focu a {
  color: #ffffff;
}
.box03Tab li:hover a {
  color: #c0281b;
}
.box03Tab li.focu:hover a {
  color: #ffffff;
}
.box03Tab li.r_ri {
  position: absolute;
  right: 0;
  top: 0;
}

.box04 li {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  border-bottom: #d9d8d8 solid 1px;
  padding: 0 10px;
}
.box04 li a {
  color: #333333;
  width: 80%;
}
.box04 li a:hover {
  text-decoration: none;
  color: #c0281b;
}
.box04 li span {
  color: #666666;
  width: 20%;
  text-align: right;
}

.box05 {
  width: 182px;
  margin-top: 20px;
}
.box05 .title {
  background-color: #c0281b;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  padding-top: 7px;
  box-sizing: border-box;
}
.box05 .title .name {
  line-height: 26px;
  line-height: 26px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border-left: #ffffff solid 2px;
  padding-left: 10px;
}

.box05 .dos {
  width: 182px;
  box-sizing: border-box;
  background-color: #f3f3f3;
  border: 1px solid rgba(219, 219, 219, 1);
  overflow: hidden;
  padding: 12px;
}
.box05 .dos a.link {
  color: #333333;
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}
.box05 .dos a.link:hover {
  color: #c0281b;
}
.box05 .dos .pro {
  margin-bottom: 10px;
}

.loadingBox {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #333333;
  cursor: pointer;
}
.box05 .dos .sc li {
  border-bottom: dotted #bababa 1px;
}
.box05 .dos .sc a {
  display: block;
  color: #2c2c2c;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  box-sizing: border-box;
  padding-left: 12px;
}
.box05 .dos .sc a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #a2a2a2;
}
.box05 .dos .sc a:hover {
  color: #c0281b;
}
.box05 .dos .sc a:hover::after {
  background-color: #c0281b;
}
.box05 .dos .sc a span {
  display: block;
  transition: right 0.3s ease-out;
  content: "";
  position: absolute;
  right: -16px;
  top: 9px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ffffff url(../images/exhibition/icon02.png) no-repeat center
    center;
}
.box05 .dos .sc a:hover span {
  right: 0;
}

.box05 .dos .hydt {
  overflow: hidden;
}
.box05 .dos .hydt p {
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}
.box05 .dos .hydt span {
  display: block;
  color: #333333;
  margin-bottom: 5px;
}
.box05 .dos .hydt a {
  color: #333333;
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}
.box05 .dos .hydt a:hover {
  color: #c0281b;
}
.box05 .imgBox {
  color: #c0281b;
}
.box05 .imgBox {
  width: 182px;
}
.box05 .imgBox img {
  width: 182px;
  height: auto;
}
.box06 {
  width: 100%;
}
.box06 .titlebox {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.box06 .nameBox {
  display: flex;
  line-height: 100%;
  margin-top: 20px;
}
.box06 .nameBox span {
  padding-left: 20px;
  margin-right: 20px;
}
.box06 .nameBox .icon01 {
  background: url(../images/policy/icon01.png) left center no-repeat;
}
.box06 .nameBox .icon02 {
  background: url(../images/policy/icon03.png) left center no-repeat;
}

.box06 .nameBox .icon03 {
  background: url(../images/policy/icon02.png) left center no-repeat;
}
.box06 .nameBox .icon03_h {
  color: #c0281b;
  background: url(../images/policy/icon02_h.png) left center no-repeat;
}
.box06 .nameBox .icon04 {
  background: url(../images/policy/icon04.png) left center no-repeat;
}
.box06 .text {
  color: #666666;
  text-align: justify;
  line-height: 150%;
  padding: 20px 0;
}
.box07 {
  text-align: center;
}
.box08 {
  background-color: #f3f3f3;
  border: #e8e8e8 silid 1px;
  padding: 20px;
  border-radius: 2px;
  margin-top: 20px;
}
.box08 .lo {
  background: url(../images/policy/pro02.jpg) no-repeat center center;
  background-size: 100% 200px;
  height: 200px;
  width: 100%;
  text-align: center;
}
.box08 .lo span {
  display: inline-block;
  padding: 10px 30px;
  background-color: #c0281b;
  margin-top: 80px;
  color: #ffffff;
  border-radius: 20px;
}
.box08 .textarea textarea {
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
}
.box08 .textarea button {
  width: 150px;
  height: 40px;
  background-color: #c0281b;
  box-sizing: border-box;
  border-radius: 20px;
  color: #ffffff;
  font-size: 15px;
  margin: 0 auto;
  display: block;
  border: #c0281b solid 1px;
  margin-top: 20px;
}
.box08 .ly {
  margin: 20px 0;
  border-bottom: #dbdbdb solid 1px;
}
.box08 .ly li {
  border-top: #dbdbdb solid 1px;
  padding: 30px 20px;
}
.box08 .ly li p:nth-child(1) {
  font-size: 15px;
}
.box08 .ly li p:nth-child(2) {
  font-size: 14px;
  color: #666;
  line-height: 160%;
  margin: 15px 0;
}
.box08 .ly li p:nth-child(3) {
  font-size: 14px;
  color: #666;
  line-height: 160%;
  background: url(../images/policy/icon01.png) left center no-repeat;
  padding-left: 20px;
}
.box09 {
  width: 1200px;
  background: url(../images/policy/pro03.jpg) center center no-repeat;
  height: 44px;
  text-align: center;
  color: #ffffff;
  font-size: 23px;
  font-family: "fontHzgb";
  line-height: 44px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
}
.box10 .dl {
  margin-top: 30px;
}
.box10 .dl dt {
  border-left: #c0281b solid 5px;
  height: 16px;
  line-height: 16px;
  color: #333333;
  font-size: 15px;
  padding-left: 10px;
}
.box10 .dl dd {
  background-color: #f3f3f3;
  margin-top: 10px;
  padding: 30px 0 10px 0;
}
.box10 .itemBox {
  display: flex;
  margin-bottom: 20px;
}
.box10 .itemBox .item {
  width: 50%;
  display: flex;
}
.box10 .itemBox .item .leText {
  line-height: 32px;
  height: 32px;
  width: 140px;
  text-align: right;
  color: #666666;
  margin-right: 10px;
}
.box10 .itemBox .item .i {
  line-height: 32px;
  height: 32px;
  margin-left: 10px;
}
.box10 .itemBox .item .have::before {
  content: "*";
  color: #c0281b;
  margin-right: 3px;
}
.box10 .itemBox .item .input {
  height: 32px;
  width: 400px;
  border-radius: 2px;
  border: #cfcfcf solid 1px;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 0 10px;
}
.box10 .itemBox .item .textarea {
  height: 100px;
  width: 1017px;
  border-radius: 2px;
  border: #cfcfcf solid 1px;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 5px 10px;
}
.box10 .itemBox .item .form {
  position: relative;
}
.box10 .itemBox .item .haveTo .em {
  position: absolute;
  left: 10px;
  bottom: -19px;
  font-size: 12px;
  color: #c0281b;
}
.box10 .itemBox .item .haveTo .input {
  border: #c0281b solid 1px;
}
