.bannerBox {
  width: 100%;
  position: relative;
  min-width: 1200px;
}
.bannerBox .banner {
  height: 400px;
}
.bannerBox .swiper-slide {
  width: 100%;
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
}
.bannerBox .swiper-pagination {
  bottom: 20px !important;
}
.bannerBox .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: #ffffff solid 1px;
  opacity: 1;
  box-sizing: border-box;
  background-color: transparent !important;
}
.bannerBox .swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}
.box01 {
  background-color: #f3f3f3;
  padding: 10px 0 20px 0;
  margin-top: 30px;
}
.box02 li {
  padding: 30px 20px;
  color: #666666;
  border-bottom: #dddddd solid 1px;
}
.box02 li:hover {
  background-color: #f3f3f3;
}
.box02 li h1 {
  display: flex;
  justify-content: space-between;
}
.box02 li h1 span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  color: #333333;
}
.box02 li em {
  color: #666;
}
.box02 li p {
  color: #666;
  line-height: 160%;
  text-align: justify;
  padding: 20px 0;
}
.box02 li .span {
  display: flex;
  flex-wrap: wrap;
}
.box02 li .span span {
  margin-right: 60px;
  color: #666666;
  margin-bottom: 20px;
}
.box02 li .em {
  display: flex;
}
.box02 li .em em {
  display: flex;
  padding-left: 20px;
  margin-right: 60px;
}
.box02 li .em em:nth-child(1) {
  background: url(../images/service/icon01.png) left center no-repeat;
}
.box02 li .em em:nth-child(2) {
  background: url(../images/service/icon02.png) left center no-repeat;
}
.box03 {
  display: flex;
  color: #666666;
  background-color: #f3f3f3;
  padding: 20px 20px 0 20px;
  margin-top: 30px;
}
.box03 .le {
  width: 60px;
}
.box03 .ri {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.box03 .ri span {
  margin-right: 60px;
  margin-bottom: 20px;
}
.box04 {
  margin-top: 30px;
}
.box05 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.box05 li {
  width: 290px;
  height: 360px;
  overflow: hidden;
  border: #d9d8d8 solid 1px;
  box-sizing: border-box;
  margin-right: 13px;
  margin-bottom: 13px;
  transition: all 0.3s ease-in;
}
.box05 li:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.box05 li:nth-child(4n) {
  margin-right: 0px;
}
.box05 li .img img {
  width: 270px;
  height: 240px;
  margin: 10px 10px 0 10px;
}
.box05 li .title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 40px;
  color: #666666;
  margin: 0 10px;
}
.box05 li .icon {
  display: flex;
  margin: 0 10px;
}
.box05 li .icon span {
  color: #666666;
  margin-right: 10px;
  display: block;
  line-height: 16px;
  height: 16px;
  box-sizing: border-box;
}
.box05 li .icon span.icon01 {
  background-color: #c0281b;
  border-radius: 2px;
  padding: 0 10px;
  color: #ffffff;
  line-height: 16px;
  font-size: 12px;
}
.box05 li .icon span.icon02 {
  background-color: #ffffff;
  border: #c0281b solid 1px;
  border-radius: 2px;
  padding: 0 10px;
  color: #c0281b;
  line-height: 16px;
  font-size: 12px;
}
.box05 li .icon span.icon03 {
  background: url(../images/policy/icon04.png) left center no-repeat;
  padding-left: 18px;
}
.box05 li .btn {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.box05 li .l {
  flex: 1;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  color: #666666;
  border-top: #dddddd solid 1px;
}
.box05 li .r {
  padding: 0 20px 0 30px;
  color: #666666;
  line-height: 40px;
  border-top: #dddddd solid 1px;
  border-left: #dddddd solid 1px;
  background: url(../images/information/icon05.png) no-repeat 10px center;
}
.box05 li .r_h {
  color: #c0281b;
  background: url(../images/information/icon05_f.png) no-repeat 10px center;
}
